AIRCRM.UI/Service References/ServiceReference1/OpenApi.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="XmlSubmit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XmlSubmitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XmlSubmitResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FileSubmit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FileSubmitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FileSubmitResult" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="error" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="XmlSubmitSoapIn">
    <wsdl:part name="parameters" element="tns:XmlSubmit" />
  </wsdl:message>
  <wsdl:message name="XmlSubmitSoapOut">
    <wsdl:part name="parameters" element="tns:XmlSubmitResponse" />
  </wsdl:message>
  <wsdl:message name="FileSubmitSoapIn">
    <wsdl:part name="parameters" element="tns:FileSubmit" />
  </wsdl:message>
  <wsdl:message name="FileSubmitSoapOut">
    <wsdl:part name="parameters" element="tns:FileSubmitResponse" />
  </wsdl:message>
  <wsdl:portType name="OpenApiSoap">
    <wsdl:operation name="XmlSubmit">
      <wsdl:input message="tns:XmlSubmitSoapIn" />
      <wsdl:output message="tns:XmlSubmitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FileSubmit">
      <wsdl:input message="tns:FileSubmitSoapIn" />
      <wsdl:output message="tns:FileSubmitSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OpenApiSoap" type="tns:OpenApiSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="XmlSubmit">
      <soap:operation soapAction="http://tempuri.org/XmlSubmit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FileSubmit">
      <soap:operation soapAction="http://tempuri.org/FileSubmit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OpenApiSoap12" type="tns:OpenApiSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="XmlSubmit">
      <soap12:operation soapAction="http://tempuri.org/XmlSubmit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FileSubmit">
      <soap12:operation soapAction="http://tempuri.org/FileSubmit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OpenApi">
    <wsdl:port name="OpenApiSoap" binding="tns:OpenApiSoap">
      <soap:address location="http://api.banglv.cn/OpenApi.asmx" />
    </wsdl:port>
    <wsdl:port name="OpenApiSoap12" binding="tns:OpenApiSoap12">
      <soap12:address location="http://api.banglv.cn/OpenApi.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>